# Trabajo Integrador: DuckDB

## Instalacion

In [1]:
%pip install duckdb --upgrade

Collecting duckdbNote: you may need to restart the kernel to use updated packages.

  Downloading duckdb-1.3.1-cp313-cp313-win_amd64.whl.metadata (7.2 kB)
Downloading duckdb-1.3.1-cp313-cp313-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.3 MB 2.9 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.3 MB 2.2 MB/s eta 0:00:05
   ----- ---------------------------------- 1.6/11.3 MB 2.1 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/11.3 MB 2.1 MB/s eta 0:00:05
   ------- -------------------------------- 2.1/11.3 MB 2.1 MB/s eta 0:00:05
   --------- ------------------------------ 2.6/11.3 MB 1.9 MB/s eta 0:00:05
   ----------- ---------------------------- 3.1/11.3 MB 2.0 MB/s eta 0:00:05
   ------------ --------------------------- 3.7/11.3 MB 2.0 MB/s eta 0:00:04
   --------------- ------------------------ 4.5/11.3 MB 2.3 MB/s eta 0:00:04
   ---------------- ----------------------- 4.7/11.3 MB 2.3 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.3 MB 2.1 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.3 MB 2.1 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.3 MB 2.0 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.3 MB 2.0 MB/s eta 0:00:03
   ---------------------- ----------------- 6.3/11.3 MB 1.9 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.3 MB 1.9 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.3 MB 1.9 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.3 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.3/11.3 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.3 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.3 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.6/11.3 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.6/11.3 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.1 MB/s eta 0:00:04
   ----------------------------- ---------- 8.4/11.3 MB 957.4 kB/s eta 0:00:04
   ----------------------------- ---------- 8.4/11.3 MB 957.4 kB/s eta 0:00:04
   ----------------------------- ---------- 8.4/11.3 MB 957.4 kB/s eta 0:00:04
   ------------------------------ --------- 8.7/11.3 MB 932.2 kB/s eta 0:00:03
   ------------------------------ --------- 8.7/11.3 MB 932.2 kB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.3 MB 920.0 kB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.3 MB 920.0 kB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.3 MB 920.0 kB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.3 MB 920.0 kB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.3 MB 920.0 kB/s eta 0:00:03
   -------------------------------- ------- 9.2/11.3 MB 846.3 kB/s eta 0:00:03
   --------------------------------- ------ 9.4/11.3 MB 861.4 kB/s eta 0:00:03
   --------------------------------- ------ 9.4/11.3 MB 861.4 kB/s eta 0:00:03
   ---------------------------------- ----- 9.7/11.3 MB 846.7 kB/s eta 0:00:02
   ---------------------------------- ----- 9.7/11.3 MB 846.7 kB/s eta 0:00:02
   ---------------------------------- ----- 9.7/11.3 MB 846.7 kB/s eta 0:00:02
   ---------------------------------- ----- 9.7/11.3 MB 846.7 kB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.3 MB 800.6 kB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.3 MB 800.6 kB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.3 MB 800.6 kB/s eta 0:00:02
   ------------------------------------ --- 10.2/11.3 MB 785.6 kB/s eta 0:00:02
   ------------------------------------ --- 10.2/11.3 MB 785.6 kB/s eta 0:00:02
   ------------------------------------- -- 10.5/11.3 MB 774.6 kB/s eta 0:00:02
   ------------------------------------- -- 10.5/11.3 MB 774.6 kB/s eta 0:00:02
   -------------------------------------- - 10.7/11.3 MB 771.5 kB/s eta 0:00:01
   -------------------------------------- - 10.7/11.3 MB 771.5 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.3 MB 766.9 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.3 MB 766.9 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.3 MB 758.0 kB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 754.6 kB/s eta 0:00:00
Installing collected packages: duckdb
Successfully installed duckdb-1.3.1

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Creando conexión

Nos permite establecer una conexión a una base de datos, por defecto, si no especificamos su nombre, la base de datos no persistirá y operará en memoria, por lo tanto no se almacenarán las tablas creadas.

In [19]:
import duckdb

BD = duckdb.connect("main.db")

#### Prueba con el dataset

In [20]:
BD.read_csv("dataset/olist_customers_dataset.csv")

BD.sql("SELECT * FROM 'dataset/olist_customers_dataset.csv' LIMIT 10")

┌──────────────────────────────────┬──────────────────────────────────┬──────────────────────────┬───────────────────────┬────────────────┐
│           customer_id            │        customer_unique_id        │ customer_zip_code_prefix │     customer_city     │ customer_state │
│             varchar              │             varchar              │         varchar          │        varchar        │    varchar     │
├──────────────────────────────────┼──────────────────────────────────┼──────────────────────────┼───────────────────────┼────────────────┤
│ 06b8999e2fba1a1fbc88172c00ba8bc7 │ 861eff4711a542e4b93843c6dd7febb0 │ 14409                    │ franca                │ SP             │
│ 18955e83d337fd6b2def6b18a428ac77 │ 290c77bc529b7ac935b93aa66c333dc3 │ 09790                    │ sao bernardo do campo │ SP             │
│ 4e7b3e00288586ebd08712fdd0374a03 │ 060e732b5b29e8181a18229c7b0b2b5e │ 01151                    │ sao paulo             │ SP             │
│ b2b6027bc5c5109e529d4dc6358b12c3 │ 259dac757896d24d7702b9acbbff3f3c │ 08775                    │ mogi das cruzes       │ SP             │
│ 4f2d8ab171c80ec8364f7c12e35b23ad │ 345ecd01c38d18a9036ed96c73b8d066 │ 13056                    │ campinas              │ SP             │
│ 879864dab9bc3047522c92c82e1212b8 │ 4c93744516667ad3b8f1fb645a3116a4 │ 89254                    │ jaragua do sul        │ SC             │
│ fd826e7cf63160e536e0908c76c3f441 │ addec96d2e059c80c30fe6871d30d177 │ 04534                    │ sao paulo             │ SP             │
│ 5e274e7a0c3809e14aba7ad5aae0d407 │ 57b2a98a409812fe9618067b6b8ebe4f │ 35182                    │ timoteo               │ MG             │
│ 5adf08e34b2e993982a47070956c5c65 │ 1175e95fb47ddff9de6b2b06188f7e0d │ 81560                    │ curitiba              │ PR             │
│ 4b7139f34592b3a31687243a302fa75b │ 9afe194fb833f79e300e37e580171f22 │ 30575                    │ belo horizonte        │ MG             │
├──────────────────────────────────┴──────────────────────────────────┴──────────────────────────┴───────────────────────┴────────────────┤
│ 10 rows                                                                                                                       5 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

#### Conexión con AWS S3

In [21]:
%pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\bruqu\appdata\local\programs\python\python313\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
from dotenv import load_dotenv
load_dotenv()  

import os

**NOTA:** Para utilizar AWS S3 es necesario setear las credenciales para acceder al bucket, para eso debemos crear un User en la IAM de AWS, asignarle permisos y finalmente crear las claves de acceso para este usuario, que deben ser almacenadas y es importante que sean de la misma region donde se ubica el bucket

In [ ]:
BD.sql("INSTALL httpfs; LOAD httpfs;")

BD.sql(f"""
SET s3_region='{os.getenv("AWS_REGION")}';
SET s3_access_key_id='{os.getenv("AWS_ACCESS_KEY_ID")}';
SET s3_secret_access_key='{os.getenv("AWS_SECRET_ACCESS_KEY")}';
""")

In [31]:
BD.sql("""
SELECT * FROM read_csv_auto('s3://ti-quadrelli-ribarov/olist_products_dataset.csv') LIMIT 5
""")

┌──────────────────────────────────┬───────────────────────┬─────────────────────┬────────────────────────────┬────────────────────┬──────────────────┬───────────────────┬───────────────────┬──────────────────┐
│            product_id            │ product_category_name │ product_name_lenght │ product_description_lenght │ product_photos_qty │ product_weight_g │ product_length_cm │ product_height_cm │ product_width_cm │
│             varchar              │        varchar        │        int64        │           int64            │       int64        │      int64       │       int64       │       int64       │      int64       │
├──────────────────────────────────┼───────────────────────┼─────────────────────┼────────────────────────────┼────────────────────┼──────────────────┼───────────────────┼───────────────────┼──────────────────┤
│ 1e9e8ef04dbcff4541ed26657ea517e5 │ perfumaria            │                  40 │                        287 │                  1 │              225 │                16 │                10 │               14 │
│ 3aa071139cb16b67ca9e5dea641aaa2f │ artes                 │                  44 │                        276 │                  1 │             1000 │                30 │                18 │               20 │
│ 96bd76ec8810374ed1b65e291975717f │ esporte_lazer         │                  46 │                        250 │                  1 │              154 │                18 │                 9 │               15 │
│ cef67bcfe19066a932b7673e239eb23d │ bebes                 │                  27 │                        261 │                  1 │              371 │                26 │                 4 │               26 │
│ 9dc1a7de274444849c219cff195d0b71 │ utilidades_domesticas │                  37 │                        402 │                  4 │              625 │                20 │                17 │               13 │
└──────────────────────────────────┴───────────────────────┴─────────────────────┴────────────────────────────┴────────────────────┴──────────────────┴───────────────────┴───────────────────┴──────────────────┘

### Exploracion del dataset

In [34]:
import pandas as pd

archivos_dataset = os.listdir('dataset')
print("Archivos en el directorio 'dataset':")
for archivo in archivos_dataset:
    print(archivo)

for archivo in archivos_dataset:
    if archivo.endswith('.csv'):
        print(f"\nPrimeras filas de {archivo}:")
        display(pd.read_csv(f'dataset/{archivo}', nrows=5))

Archivos en el directorio 'dataset':
olist_customers_dataset.csv
olist_geolocation_dataset.csv
olist_orders_dataset.csv
olist_order_items_dataset.csv
olist_order_payments_dataset.csv
olist_order_reviews_dataset.csv
olist_sellers_dataset.csv
product_category_name_translation.csv

Primeras filas de olist_customers_dataset.csv:

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

Primeras filas de olist_geolocation_dataset.csv:

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

Primeras filas de olist_orders_dataset.csv:

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

Primeras filas de olist_order_items_dataset.csv:

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

Primeras filas de olist_order_payments_dataset.csv:

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

Primeras filas de olist_order_reviews_dataset.csv:

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

Primeras filas de olist_sellers_dataset.csv:

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

Primeras filas de product_category_name_translation.csv:

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [7]:
BD.sql("CREATE TABLE customers AS SELECT * FROM 'dataset/olist_customers_dataset.csv'")